body {
  /* display: flex; */
  padding: 0px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
}
#divMain{
display: flex;
  /* flex-direction: column; */
  background-color: #f4f4f4;
  /* border: 2px solid red; */
}
#divSide{
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  margin-left: 4px;
  padding: 2em;
  width: 400px;
  border: 2px solid rgb(197, 18, 18);
  box-shadow: 0px 0px 20px 0px rgb(78, 39, 39);
  border-radius: 7px;
  background-color: #fcfcfc;
}
/* @media screen and (max-width: 400px) {
  #divSide {
      display: none;
  } */
#div1 {
  display: flex;
  margin: auto;
  flex-direction: column;
  margin-top: 2em;
  /* margin-left: 2em; */
  justify-content: space-around;
  padding: 2em;
  border: 2px solid rgb(197, 18, 18);
  width: fit-content;
  box-shadow: 0px 0px 20px 0px rgb(78, 39, 39);
  border-radius: 7px;
  background-color: #fcfcfc;
}
#div1 label {
  margin-top: 0.5em;
  margin-bottom: 0.1em;
  text-decoration: underline;
}
#div1 .input {
  width: 20em;
  padding: 0.7em;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  color: blue;
  background-color:#fcfcfc;
  
  /* font-size: 12px; */
  /* text-align: center; */
}
h2 {
  text-align: center;
}

#div2 {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  justify-content: center;
}
#div2 .btn {
  margin-top: 0.7em;
  width: 21.4em;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 5, 20, 1);
  border-radius: 7px;
  padding: 0.4em;
}
#div2 .btn:hover{
  background-color: #fcfcfc;
  color: black;

}
a{
  margin-top: .5em;
  text-decoration: none;
  text-align: center;
}
#lab{
  display: inline-block;
  
}
#showPass{
  text-decoration: none;
  display: inline-block;
}